<div class="d-flex justify-content-between bg-light align-items-center px-3 py-2">
  <div><%= link_to "Wikinimous", articles_path %></div>
  <div><%= link_to "New Article", new_article_path, class: "btn btn-primary" %></div>
</div>
