<nav class="navbar bg-light px-3">
  <div><%= link_to "Wikinimous", articles_path, class: "navbar-brand" %></div>
  <div><%= link_to "New Article", new_article_path, class: "btn btn-primary" %></div>
</nav>
